<div class="flex flex-row w-screen justify-between bg-white">

  <div class="flex flex-col items-center justify-center w-1/2">

    <img src="logo-stockvet.png" alt="stockvet logo" class="h-40">

    <form [formGroup]="form" class="flex flex-col gap-1.5">
      <div class="flex flex-col text-center mb-6 gap-4">
        <h1 class="font-semibold text-4xl">StockVet</h1>
        <h2>Portal do cliente: Juntos pelo bem estar</h2>
      </div>

      <div class="flex flex-col">
        <label for="nome" class="text-sm">Nome</label>
        <input formControlName="nome" id="nome" name="nome" type="text" placeholder="Digite seu nome"
        class="bg-white border border-black rounded-sm py-1 px-2 text-sm focus:outline-none">
        @if (!shouldHideErrorFieldMessage('nome')) {
          <p class="text-red-600 italic text-[12px]">Campo obrigatório</p>
        }
      </div>

      <div class="flex flex-col">
        <label for="sobrenome" class="text-sm">Sobrenome</label>
        <input formControlName="sobrenome" id="sobrenome" name="sobrenome" type="text" placeholder="Digite seu sobrenome"
        class="bg-white border border-black rounded-sm py-1 px-2 text-sm focus:outline-none">
        @if (!shouldHideErrorFieldMessage('sobrenome')) {
          <p class="text-red-600 italic text-[12px]">Campo obrigatório</p>
        }
      </div>

      <div class="flex flex-col">
        <label for="email" class="text-sm">E-mail</label>
        <input formControlName="email" id="email" name="email" type="text" placeholder="Digite seu e-mail"
        class="bg-white border border-black rounded-sm py-1 px-2 text-sm focus:outline-none">
        @if(this.form.get('email')?.hasError('email')) {
          <p class="text-red-600 italic text-[12px]">Este não é um email válido</p>
        } @else if (!shouldHideErrorFieldMessage('email')) {
          <p class="text-red-600 italic text-[12px]">Campo obrigatório</p>
        }
      </div>

      <div class="flex flex-col">
        <label for="senha" class="text-sm">Senha</label>
        <input formControlName="senha" id="senha" name="senha" type="password" placeholder="Digite sua senha"
        class="bg-white border border-black rounded-sm py-1 px-2 text-sm focus:outline-none">

        @if (this.form.get('senha')?.hasError('minlength')) {
          <p class="text-red-600 italic text-[12px]">A senha deve conter pelo menos 8 caracteres</p>
        } @else if (!shouldHideErrorFieldMessage('senha')) {
          <p class="text-red-600 italic text-[12px]">Campo obrigatório</p>
        }
      </div>

      <div class="flex flex-col">
        <label for="animalEstimacao" class="text-sm">Nome do primeiro animal de estimação</label>
        <input formControlName="animalEstimacao" id="animalEstimacao" name="animalEstimacao" type="text" placeholder="Nome do seu pet"
        class="bg-white border border-black rounded-sm py-1 px-2 text-sm focus:outline-none">
        @if (!shouldHideErrorFieldMessage('animalEstimacao')) {
          <p class="text-red-600 italic text-[12px]">Campo obrigatório</p>
        }
      </div>

      <button type="button" (click)="cadastrar()" class="w-full self-center bg-[#2A56F2] text-white font-bold rounded-2xl py-1 my-4 border border-[#2A56F2] hover:bg-white hover:text-[#2A56F2] transition-all duration-300 hover:cursor-pointer">Cadastro</button>

      <div class="flex flex-col items-center">
        <a routerLink="/login" class="text-sm italic">Já tem uma conta? Faça login</a>
      </div>
    </form>

    @if(errorMessage()) {
      <p class="text-red-600 italic text-[12px]">{{errorMessage()}}</p>
    }
  </div>

  <img src="imagem-login.png" alt="" class="w-1/2 h-screen object-cover object-left">

</div>
